@keyframes zoominoutsinglefeatured {
    0% {
        transform: scale(1,1);
    }
    50% {
        transform: scale(1.2,1.2);
    }
    100% {
        transform: scale(1,1);
    }
}

.single-featured-image-header img {
	animation: zoominoutsinglefeatured 15s forwards;
    animation-iteration-count: infinite; /*zoomin effect loops foreve!*/
}

img {
    padding-top: 50px;
    border: none;
}

h1 {
    padding-top: 50px;
    padding-left: 50px;
}

li {
    display: inline;
    padding: 10px 10px 10px 10px;
}

a {
    font-size: 20px;
    font-weight: 500;
    color: white;
    text-decoration: none;
}

.nav-bar {
    background-color: #572191;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: -8px;
    margin-left: -10px;
    margin-right: -10px;
    position: sticky;
    top: 0;
    z-index: 9; 
}

/*cretes smooth scrolling effect*/
html {
    scroll-behavior: smooth;
  }

  p {
    color: black;
  }

  .links {
    color: blue;
  }
  p {
    font-size: 20px;
    font-weight: 200;
    padding-left: 50px;
  }

  /*SLIDESHOW*/

  #slideshow { 
    margin: 50px auto; 
    position: relative; 
    width: 300px; 
    height: 300px; 
    padding: 10px; 
    box-shadow: 0 0 20px rgba(0,0,0,0.4); 
  }
  
  #slideshow > div { 
    position: absolute; 
    top: 10px; 
    left: 10px; 
    right: 10px; 
    bottom: 10px; 
  }

  #slideshowPIC { 
    width: 220px; 
    height: 220px; 
    display: block;
    margin: auto;
  }

  /*CONTACT FORM*/
  * {box-sizing: border-box;}
/*Button to pup up contact form from bottom of page*/
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
  text-align: left;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=email], .form-container input[type=tel], .form-container input[type=button]{
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=tel]:focus, .form-container input[type=email]:focus, .form-container input[type=button]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #572191;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/*Adds red background color to close button*/
.form-container .cancel {
  background-color: rgb(20, 175, 14);
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

h2 {
  text-align: center;
}