/*imprt link for Josefin Slab font from fonts.google.com*/
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Josefin+Slab:ital,wght@0,100..700;1,100..700&family=Mukta:wght@200;300;400;500;600;700;800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/*import link for Sacramento font from fonts.google.com*/
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Josefin+Slab:ital,wght@0,100..700;1,100..700&family=Mukta:wght@200;300;400;500;600;700;800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sacramento&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html{
    overflow-x: hidden; /*prevents browser from displaying 
    left to right scroll bar as a result of negative
    margin values*/
    scroll-behavior: smooth; /*creates a smooth scrolling effect
    when a bookmark link is clicked*/
}

/*NAVBAR*/

.nav-bar{ /*class name goes in open nav tag!!*/
    position: sticky; /*creates sticky element that stays in same 
    spot on the browser screen*/
    top: 0; /*tells browser to stick element at top of page
     based on user scrolling*/
     z-index: 9; /*sets stack layer of navbar to 
     scroll over all other elements*/
}

/*styling unordered list elements*/
ul{
    display: flex; /*creates flex containet wich will expand
    or shrink elements to fill space available to them and
    place elements side by side horizontally*/
    list-style-type: none; /*removes default styling for 
    unordered list elements*/
    align-items: center;
    margin: -8px -8px 0px -8px; /*margin order is top, right, 
    bottom, left. negative margins stretch background beyond
    edge of the screen*/
    background-color: rgb(1, 128, 106);
    border-bottom: 5px solid rgb(247, 177, 188);
}

/*styles anchor elemts within div nesting in Recipe li tag*/
a{
    display:block; /*displays anchor elements virtically on
    a new line. This was added so the dropdown menu does
    NOT display horizontally*/
    font-family: "Josefin Slab", serif;
    font-size: 25px;
    font-weight: 800;
    color: rgb(247, 177, 188);
    text-align: center;
    width: 100px; /*sets width of each anchor element*/
    padding: 20px;
    text-decoration: none;
    transition: background-color 0.3s ease-in;
}

/*pseudo-class adds hover effect over anchor elements*/
a:hover, .drop:hover a:only-of-type{ /*only-of-type targets the element that's
    the only one of its kind within a nested html element (in this case, recipes).
    This will keep the background blue while hovering and the text white when 
    moving mouse over anchor elements in rollover-menu div*/
    background-color: rgb(149, 238, 223); /*changes bg color when hovering over element*/
    color: white;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.7);
    transition: background-color 0.3s ease-in;
}

/*this class styles div element within recipes list item element*/
.rollover-menu{ /*class goes in open div tag in recipe list!*/
    display: none; /*prevents anchor links in tis div from 
    showing in browser until otherwise specified*/
    position: absolute; /*Absolute will position div element
    relative to the position of its parent element*/
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
/*creates dropdown menu trigger effect when user hovers 
mouse over recipes link. This will display all elements 
within rollover-menu class div element*/
.drop:hover .rollover-menu{
    display: block;
}

/*adjusts colors of dropdown menu text*/
.rollover-menu a{
    color: rgb(0, 80, 67);
}

.rollover-menu a:hover{ /*this was readded bc the above 
    styling overwrote a previous font styling*/
    color: white;
    box-shadow: 0px 8px 16px 0px rgba(90, 90, 90, 0.2);
}

/*this targets first anchor in rollover-menu div*/
.rollover-menu a:nth-child(1){
    border-top: 5px solid rgb(238, 118, 136);
}

/*FOOTER*/

footer{ /*below styles similar to nav bar*/
    align-items: center; /*aligns nested html element in
    center i.e. table and paragraph elements in footer tag*/
    margin: 0px -8px -8px -8px; /*stretches footer background
    beyond browser's edge leaving no white space*/
    background-color: rgb(1, 128, 106);
    border-top: 5px solid rgb(247, 177, 188);
    bottom: 0; /*positions footer at bottom of screen*/   
}

table{
    width: 100%; /*takes up full width of browser screen*/
}

td{
    width: 33%; /*each table data item takes up 1/3 of the
    space available on the screen*/
}
td p{
    font-family: 'Josefin Slab', serif; /*font from 
    fonts.google.com*/
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: rgb(247, 177, 188);
}

/*BODY*/

.container{
    display: inline-block;
    background-size: 100%;
    padding-top: 60px;
    padding-left: 30px;
}

/*HEADERS*/

h1{
    font-family: 'Sacramento', cursive; /*font from fonts.google.com*/
    font-size: 80px;
    color: rgb(0, 80, 67);
    text-align: center;
}

h2, h3, h4{
    font-family: 'Josefin Slab', serif; /*font from fonts.google.com*/
    text-align: center;
}

h2{
    color: rgb(0, 80, 67);
    font-size: 60px;
    text-decoration: underline;
    text-decoration-color: rgb(247, 177, 188);
}

h3{
    font-size: 30px;
}

h4{
    font-size: 15px;
    text-decoration: underline;
    text-transform: uppercase;
}

/*PARAGRAPHS*/

p{
    font-family: 'Josefin Slab', sarif; /*font from fonts.google.com*/
    font-size: 20px;
    font-weight: 600;
    color: rgb(0, 80, 67);
    text-align: center;
}

/*IMAGES*/

/*positions elements to sit side by side on screen*/
.column{
    float: left;
    width: 48%;
    padding: 10px;
}

/*Styling for screens 1200px or smaller*/
@media screen and (max-width:1200px){
    .column{
        width: 100%;
        padding: 0px;
        margin-left: -15px; /*Centers each column on screen*/
    }
}

/*Specifically styles first 7 column img tag elements 
contained in elements with the .column class*/
.column img:nth-child(-n + 7){
    width: 500px;
    height: 350px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4), 
    0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.recipe-container{
    width: 500px;
    height: 350px;
    margin: 100px auto 180px; /*Shorthand value for top, 
    right, left, bottom. auto here applies to left and right*/
    perspective: 1000px; /*tells browser how much space 3D
    space an element should take up on screen*/
}
/*Styling for mobile devices*/
@media screen and (max-width 600px){
    .column img:nth-child(-n + 7){
        width: 350px;
        height: 225px;
    }
    .recipe-container{
        width: 350px;
        Height: 225px;
    }
}

/*creates tile effect behind images*/
.recipe-card-background{
    background-color: rgb(149, 238, 223)
}

/*alternates blue tile background on smaller screen sizes*/
@media screen and (max-width: 1200px){
    #pork{
        background-color: rgb(255, 255, 255);
    }
    #biscuits{
        background-color: rgb(149, 238, 223);
    }
}

/*FEATURED RECIPE*/

/*styles featured recipe h3 tag*/
#featured-header{
    font-family: 'Sacramento', cursive; /*imported from fonts.google.com*/
    font-size: 60px;
    color: rgb(0, 80, 67);
}

#featured-main-text{
    text-align: justify;
    padding-top: 20px;
    margin-left: 40px;
}

/*sets mardin left to 0 because 
it is not needed on a small screen and centers text*/
@media screen and (max-width: 1200px){
    #featured-main-text{
        margin-left: 0;
    }
}

/*specifically styles img tag nested within #featured div
in the Featured Recipe section*/
@media screen and (min-width: 1600px){
    #featured img{
        width: 700px;
        height: auto; /*automatically calculates image height
        based on width*/
        margin-left: -20px;
        margin-top: -20px; /*margin left and top will 
        override margin styling from .recipe-container
        class selector.*/
    }
}

/*adjusts position of featured image to be centered in its
div when the width in 1599px or less*/
@media screen and (max-width: 1599px){
    #featured img{
        margin-left: 0px;
        margin-top: 40px;
    }
}

@media screen and (max-width: 600px){
    #featured .recipe-card-background{
        height: 300px;
    }
    #featured img{
        margin-top: -65px;
    }
}
#featured-button{
    display: block; /*positions recipe button on its own 
    line from other elements within div*/
    margin: 60px auto 0px;
    background-color: rgb(1, 128, 106);
    border-radius: 35px;
    border: none; /*removes default border set by browser
    when border-radius is used*/
    font-family: 'Josefin Slab', serif; /*font from fonts.google.com*/
    font-size: 30px;
    font-weight: bold;
    padding: 15px 25px;
    color: white;
    cursor: pointer;
}

/*styles hover effect of recipe button
in Feature Recipe section*/
#featured-button:hover{
    background-color: rgb(247, 177, 188);
}

/*IMAGE FLIP*/

/*psotions flip effect, defines transition time,
and defines 3d effect*/
.flip{
    position: relative;
    width: 100%;
    height: 100%; /* setting width and height values to 
    100% allows the effect to take up 100% of
    the space available*/
    text-align: center;
    transition: 0.5s ease-in-out;
    transform-style: preserve-3d; /*treats elements as 3D
    objects instead of flat (2D) objects*/
}

.flip:hover{
    transform: rotateY(-180deg); /*rotates element right to left*/
}

.flip-front, .flip-back{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden; /*this will hide element once
    it flips and display text*/
}

.flip-back{
    background-color: rgb(149, 238, 233);
    border: 2px solid white;
    transform: rotatey(180deg); /*adds 180 degrees back from
    previously subtracted -180 degrees so the text can be
    properly read*/
}

.text-container{
    padding-top: 70px;
}

@media screen and(max-width: 600px){
    .text-container{
        padding-top: 0px;
    }
}
/*RECIPE BUTTON*/

input[type="button"]{
    background-color: #fff;
    border: none;
    border-radius: 20px;
    font-family: 'Josefin Slab', serif; /*from fonts.google.com*/
    font-weight: bold;
    font-size: 22px;
    padding: 11px 17px;
    color: rgb(1, 128, 106);
    cursor: pointer;
}

input[type="button"]:hover{
    background-color: rgb(247, 177, 188);
    color: white;
}

/*ABOUT SECTION*/
#about-header{
    font-family: 'Sacramento', cursive; /*imported fonts.google.com*/
    font-size: 60px;
    color: rgb(0, 80, 67);
}
#about-main-text{
    text-align: justify; 
    padding-top: 20px;
    margin-left: 40px;
}

@media screen and (max-width: 1200px){
    #about-main-text{
        margin-left: 0;
    }
}

@media screen and (min-width: 1600px){
    #about img{
        width: 700px;
        height: auto;
        margin-left: -20px;
        margin-top: -20px;
    }
}

@media screen and (max-width: 1599px){
    #about img{
        margin-left: 0px;
        margin-top: 40px;
    }
}

@media screen and (max-width: 600px){
    #about .recipe-card-background{
        height: 300px;
    }
    #about img{
        margin-top: -65px;
    }
}

/*CONTACT FORM CSS*/

/*sets up content within the DIV tag containing the 
ID contact to be centered on the webpage*/
#contact{
    display: block;
    margin-bottom: 70px;
}

form{
    display: table; /*displays form in a table 
    format as rows and columns*/
    padding: 15px;
    margin-left: auto;
    margin-right: auto; /*browser will automatically 
    calculate margins to center form on the screen*/
}

/*targets input tags nested within form tags*/
form input{
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    color: rgb(165, 165, 165);
    border: 2px solid rgb(165, 165, 165);
    border-radius: 5px;
    padding: 3px;
    margin: 10px 15px 10px 0px;
    transform: 0.3s ease-out; /*transitions back to light grey 
    when user clicks away from input field*/
}

form input:focus{
    border: 2px solid rgb(1, 128, 106);
    color: black;
    outline: none; /*removes default border added when
    focus pseudo class is triggered*/
    transition: 0.3s ease-out;
}

label{
    font-family: 'Josefin Slab', serif; /*from fonts.google.com*/
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
}

textarea{
    width: 100%;
    height: 200px;
    padding: 12px 20px;
    box-sizing: border-box;
    resize: both; /*allows user to resize text area
    in width and height*/
    border: 3px solid rgb(165, 165, 165);
    border-radius: 5px;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(165, 165, 165);
    font-size: 15px
    transition: 0.3s ease-out; /*will transition back to 
    light grey*/
}

textarea:focus{
    color: black;
    border: 3px solid rgb(1, 128, 106);
    transition: 0.3s ease-out;
    outline: none;
}

input[type="submit"]{
    background-color: rgb(1, 128, 106);
    border: none;
    border-radius: 35px;
    font-family: 'Josefin Slab', serif; /*from fonts.google.com*/
    font-size: 20px;
    font-weight: bold;
    padding: 15px 25px;
    margin-top: 20px;
    color: #fff;
    cursor: pointer;
    float: right; /*positions submit button to bottom
    right of the form*/
}

input[type="submit"]:hover{
    background-color: rgb(247, 177, 188);
}

/*RECIPE MODAL*/
.recipe-modal{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.5); /* creates transparent background
    that covers whole screen*/
    width: 100%;
    height: 100%;
}

.recipe-content{
    position: relative;
    background-color: rgb(255, 255, 255);
    top: 15vh;
    left: 27vw;
    width: 45vw;
    height: 70%;
    box-shadow: 0 2px 10px 5 px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
}

.close-btn{
    color: rgb(1, 128, 106);
    font-size: 50px;
    font-weight: 600;
    cursor: pointer;
    float: right;
    padding-right: 10px;
}

.modal-header{
    padding-top: 20px;
}

.modal-body{
    padding: 20px;
}

.row{
    display: flex;
    justify-content: center;
}

.rp-column-1{
    width: 33%;
}

.rp-column-2{
    width: 67%;
}

.recipe-list{
    margin-left: -30px;
    font-family: "Josefin Slab", serif;
    font-size: 18px;
    display: block;
    border: none;
    background-color: transparent;
    line-height: 1.5;
    text-align: center;
}

.recipe-directions{
    padding: 0px 20px;
    font-size: 18px;
    font-weight: 500;
    text-align: left;
}